@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish';
}

form, div {
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: 900;
    color: #04146c;
}

input {
    font-size: 18.6px;
    font-weight: 400;
    height: 50px;
    width: 500px;
    margin-bottom: 10px;
    color: #414166;
    padding: 10px;
    border: 1px solid #04146c;
}

button {
    font-size: 20px;
    font-weight: 600;
    height: 50px;
    width: 500px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #0a2ff1;
    color: white;
}

hr {
    width: 500px;
}

p {
    font-size: 18.6px;
    font-weight: 400;
    color: #0a2ff1;
}