@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

main {
    margin-left: 15px;
}

nav {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
}

a {
    font-size: 24px;
    color: #04146c;
    font-weight: 400;
    text-decoration: none;
    margin: 0 30px 0 30px;
}

#logo {
    width: 5%;
}

.activo {
    font-weight: 700;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 45.3px;
    color: #2c00cc;
    font-weight: 700;
}

h2 {
    font-size: 30.6px;
    color: #04146c;
    font-weight: 400;
}

label {
    font-size: 30.6px;
    color: #04146c;
    font-weight: 700;
}

span {
    color: red;
}

.boton {
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    color: white;
    font-weight: 700;
    border: none;
    margin: 5px 10px 5px 0;
    height: auto;
    width: 150px;
}

#reset {
    background-color: #f98500;
}

#send {
    background-color: #2c00cc;
}

.fill, textarea {
    font-size: 30.6px;
    color: #04146c;
    font-weight: 200;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fill {
    height: 50px;
}

textarea {
    height: 100px;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #3957F1;
    margin: 100px 0 0 0;
}

#logo_blanco {
    height: 50px;
    width: auto;
    margin: 25px 0 25px 200px;
}