@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

* { 
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

nav {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
}

header {
    text-align: center;
}

a {
    font-size: 24px;
    color: #04146c;
    font-weight: 400;
    text-decoration: none;
    margin: 0 30px 0 30px;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 96px;
    color: #0a2ff1;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 {
    font-size: 34.6px;
    color: #04146c;
    font-weight: 400;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 45.3px;
    color: #0a2ff1;
    font-weight: 700;
}

h4 {
    font-size: 24px;
    color: #04146c;
    font-weight: 700;
    margin-bottom: 0;
}

p {
    font-size: 24px;
    color: #04146c;
    font-weight: 400;
    margin-top: 0;
}

img {
    width: 100%;
}

#logo {
    width: 5%;
}

.activo {
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

div {
    width: 70%;
    margin: 0 20px 50px 200px;
}

#spaceship {
    margin-bottom: -85px;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #3957F1;
    margin: 0;
}

#logo_blanco {
    height: 50px;
    width: auto;
    margin: 25px 0 25px 200px;
}