@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins';
    padding-left: 100px;
    padding-top: 50px;
}

h1 {
    font-weight: 700;
    font-size: 66.6px;
    color: #0a2ff1;
}

p {
    font-weight: 400;
    font-size: 30px;
    color: #0a2ff1;
    background-color: #eff2ff;
    display: inline;
}

span {
    font-weight: 700;
}

button {
    font-weight: 400;
    font-size: 30px;
    background-color: #8a9af1;
    color: white;
    border: none;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 50px;
}

img {
    width: 30%;
}

footer {
    background-color: #3ffff3;
    width: 100%;
    height: 10px;
}