@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700;900&display=swap');

body {
    margin: 0;
}

h4 {
    font-family: 'Source Sans 3';
    font-size: 38.6px;
    font-weight: 400;
    color: white;
    background-color: #04146c;
    margin-top: 0;
    text-align: center;
}

h1 {
    font-family: 'Source Sans 3';
    font-size: 88px;
    font-weight: 900;
    color: #04146c;
    text-align: center;
}

h6 {
    font-family: 'Source Sans 3';
    font-size: 26.6px;
    font-weight: 400;
    color: #04146c;
    text-align: center;
    margin-bottom: 15px;
}

span {
    font-weight: 900;
}

img {
    width: 600px;
    align-items: center;
}

main {
    text-align: center;
    width: 50%;
}

p {
    font-family: 'Source Sans 3';
    font-size: 24px;
    font-weight: 400;
    color: #04146c;
    text-align: center;
    background-color: #edf7ff;
}