@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');

body {
    padding-left: 100px;
    padding-top: 30px;
}

img {
    width: 55px;
    margin-right: 15px;
}

div {
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Mulish';
    font-weight: 900;
    font-size: 37.5px;
    color: #04146c;
}

h2 {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 21.56px;
    color: #0a2ff1;
    text-transform: uppercase;
}

p {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 20px;
    width: 40%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 70px;
    color: #04146c;
}