@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.titulo {
    color: #0a2ff1;
    font-family: 'Poppins', sans-serif;
    font-size: 78.6px;
    font-weight: bold;
    width: 750px;
}

.copete {
    color: #0a2ff1;
    font-family: 'Poppins', sans-serif;
    font-size: 30.6px;
    width: 750px;
    font-weight: 500;
}

span {
    background-color: #3ffff3;
}

.imagen {
    position: absolute;
    width: 375px;
    height: 550px;
}

.fondo {
    position: absolute;
    z-index: -1;
    width: 375px;
    height: 550px;
}